<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Server Seer - Viewer</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .section.section-no-padding {
            padding: 0;
        }
    </style>
</head>

<body>
    <section class="section" v-bind:class="{'section-no-padding':isKioskMode}" id="app">
        <div v-if="!isKioskMode" class="menu">
            <div class="columns">
                <div class="column is-2 field">
                    <p class="control">

                        <span class="select">
                            <select v-model="newChartIdentifier">
                                <option v-for="identifier in identifiers">
                                    {{identifier}}
                                </option>
                            </select>
                        </span>
                    </p>
                </div>
                <div class="column is-1 field">
                    <button class="button" v-on:click="addChartByIdentifier(newChartIdentifier)">Add</button>
                </div>
                <div class="column is-1 field">
                    <label>Url to this setup:</label>
                </div>
                <div class="column is-7 field">
                    <input style="width:80%" class="input" type="text" v-model="chartsUrl" />
                </div>
                <div class="column is-1 field">
                    <a class="button is-pulled-right" v-on:click="isKioskMode = true">Enter Kiosk Mode</a>
                </div>
            </div>
        </div>

        <div v-if="isKioskMode" class="columns">
            <div class="column is-pulled-right" style="position:absolute;right:0">
                <a class="button is-pulled-right" v-on:click="isKioskMode = false">Exit Kiosk Mode</a>
            </div>
        </div>

        <div class="chart-viewer columns is-multiline ">
            <div v-for="chart in charts" class="column is-6" style="height:200px;">
                <div class="block">
                    <h2 class="subtitle is-pulled-left">{{chart.identifier}}</h2>
                    <a v-if="!isKioskMode" class="button is-link is-pulled-right" v-on:click="removeChart(chart)">Remove</a>
                    <a v-if="!isKioskMode" class="button is-link is-pulled-right" v-on:click="configureChart(chart)">Configure</a>
                </div>

                <chartist :identifier="chart.identifier" v-bind:modifiers="chart.modifiers" v-bind:values="chart.values"></chartist>
            </div>
        </div>


        <div v-if="showChartConfigurationModal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h1 class="title">Configuring: {{selectedConfigureChart.identifier}}</h1>
                    <hr/>
                    <table class="table is-narrow">
                        <tr v-for="modifier in selectedConfigureChart.modifiers">
                            <td>{{modifier.type.type}}</td>
                            <td>{{modifier.value}}</td>
                            <td>
                                <a class="button" v-on:click="removeChartModifier(selectedConfigureChart, modifier)">Remove</a>
                            </td>
                        </tr>
                    </table>
                    <h3 class="subtitle">Add modifier</h3>
                    <select v-model="newModifier">
                        <option v-for="modifier in availableModifiers" v-bind:value="modifier">
                            {{modifier.type}} - {{modifier.text}}
                        </option>
                    </select>
                    <input type="text" v-model="newModifierValue" />
                    <a class="button" v-on:click="addChartModifier(selectedConfigureChart)">Add</a>

                </div>
            </div>
            <button class="modal-close" v-on:click="showChartConfigurationModal = false"></button>
        </div>

    </section>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                updateFrequency: 5000,
                availableModifiers: [{
                    type: "divide",
                    short: "/",
                    text: "Divides the chart result",
                }, {
                    type: "multiply",
                    short: "*",
                    text: "Multiplies the chart result"
                }],
                newChartIdentifier: '',
                identifiers: [],
                charts: [],
                isKioskMode: false,

                // Configuration modal
                showChartConfigurationModal: false,
                selectedConfigureChart: null,
                newModifier: null,
                newModifierValue: ''
            },
            mounted: function() {

                // Load available identifiers, used for select when adding
                this.getIdentifiers();

                // Parse the GET 'values' to resolve into charts
                var values = getParameterByName('values');
                if (values) {
                    var valuesArr = JSON.parse(values);
                    for (var i = 0; i < valuesArr.length; i++) {
                        this.addChart(valuesArr[i].identifier, valuesArr[i].modifiers);
                    }
                }

                // Start interval to get latest entries
                setInterval(function() {
                    var self = this;
                    self.getEntries();
                }.bind(this), this.updateFrequency);
            },

            methods: {

                // Inserts a new chart to array from input parameter
                addChart: function(identifier, modifiers) {
                    if (identifier.trim().length == 0) {
                        return;
                    }

                    var chart = {
                        identifier: identifier,
                        values: [],
                        modifiers: (typeof(modifiers) !== 'undefined') ? modifiers : [],
                    };

                    this.charts.push(chart);

                    this.newChartIdentifier = '';
                },

                // Removes the provided chart from array
                removeChart: function(chart) {
                    this.charts.splice(this.charts.indexOf(chart), 1);
                },
                configureChart: function(chart) {
                    this.selectedConfigureChart = chart;
                    this.showChartConfigurationModal = true;
                },

                removeChartModifier: function(chart, modifier) {
                    chart.modifiers.splice(chart.modifiers.indexOf(modifier), 1);
                },
                addChartModifier: function(chart) {
                    if (this.newModifier == null || this.newModifierValue.trim().length == 0) {
                        return;
                    }

                    var modifier = {
                        type: this.newModifier,
                        value: this.newModifierValue.trim()
                    };

                    chart.modifiers.push(modifier);
                    
                    this.newModifier = null;
                    this.newModifierValue = '';
                },

                // GET /identifiers, load to identifiers array
                getIdentifiers: function() {
                    var self = this;

                    axios.get('/identifiers')
                        .then(function(response) {
                            self.identifiers = response.data;
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                },

                // GET /entries, load specific entries by identifiers to array
                getEntries: function() {
                    var sendData = [];
                    for (var i = 0; i < this.charts.length; i++) {
                        sendData.push({
                            identifier: this.charts[i].identifier,
                        });
                    }

                    var values = sendData;

                    var self = this;

                    axios.get('/entries?values=' + JSON.stringify(values))
                        .then(function(response) {

                            for (var i = 0; i < self.charts.length; i++) {
                                for (var j = 0; j < response.data.length; j++) {
                                    if (self.charts[i].identifier == response.data[j].identifier) {
                                        self.charts[i].values = response.data[j].data;
                                    }
                                }

                            }
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                }
            },

            computed: {

                // Latest URL for remembering the configuration
                chartsUrl: function() {
                    var sendData = [];
                    for (var i = 0; i < this.charts.length; i++) {
                        sendData.push({
                            identifier: this.charts[i].identifier,
                            modifiers: this.charts[i].modifiers,
                        });
                    }
                    return window.location.origin + "/?values=" + JSON.stringify(sendData);
                }
            }
        });

        // Simple chartist component; possibly not the best idea to redraw it every time
        // Needs to move the settings out of there
        Vue.component('chartist', {
            template: '<div class="ct-chart ct-perfect-fourth"></div>',
            props: ['identifier', 'modifiers', 'values'],
            methods: {
                updateChartist: function(dataInput) {
                    var dataProcessed = [];

                    // Run all modifiers on input data

                    for (var i = 0; i < dataInput.length; i++) {
                        var value = dataInput[i];
                        for (var j = 0; j < this.modifiers.length; j++) {
                            var modifierType = this.modifiers[j].type.type;
                            var modifierValue = this.modifiers[j].value;
                            if (modifierType == 'divide') {
                                value = value / modifierValue;
                            } else if(modifierType == 'multiply') {
                                value = value * modifierValue;
                            }
                        }
                        dataProcessed.push(value);
                    }
                    
                    new Chartist.Line(this.$el, {
                        series: [dataProcessed]
                    }, {
                        low: 0,
                        showPoint: false,
                        fullWidth: true,
                        height: 200
                    });
                }
            },
            watch: {
                'values': function(newVal) {
                    this.updateChartist(newVal);
                },
                'modifiers': function() {
                    this.updateChartist(this.values);
                },
            }
        });

        // Parsing the query parameter
        // http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>

</body>

</html>
